.red{
    background-color:red;

}

.blue {
    background-color:blue;
    
}

.green{
    background-color:green;
}

.class {
    background-color:yellow;

}
.class {
    background-color: black;

}

.class{
    background-color: pink;
}

.card{
    Height;
    W
}

#appRow > img{
    width: 100%;
    height: 50%;
}